*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #fffefe;
}
.container{
    width: 100%;
    margin: auto;
}
/*Banner*/
.banner{
    width: 100%;
    height: calc(100vh - 147.56px);
    animation: banner 10s infinite linear alternate;
    transition: 1s;
    background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
}
.capa__banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c6c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.capa__banner2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
}
.info__banner{
    padding: 15px;
    z-index: 1;
    margin: auto;
    width: 100%;
    text-align: center;
}
.titulo__banner{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
    color: #fff;
}
.nombre__tienda__banner{
    font-family: 'Open sans', 'Poppins';
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.parrafo__banner{
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}
.link__banner{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    display: inline-block;
    border-radius: 4px;
    font-size: .9rem;
}
@keyframes banner {
    0%,20%{
        background-image: url('../img/banner.jpg');
    }
    25%,45%{
        background-image: url('../img/banner2.jpg');
    }
    50%,70%{
        background-image: url('../img/banner3.jpg');
    }
    75%,100%{
        background-image: url('../img/banner4.jpg');
    }
}
/*categorias*/
.seccion__categorias--index{
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    position: relative;

}
.barra__horizontal--cat{
    height: 200px;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 1300px;
    width: 95%;
    position: absolute;
    top: 30%;
    z-index: -1;
}
.container__categoria{
    max-width: 325px !important;
    margin: 20px;
    cursor: pointer;
}
.info__categoria{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    visibility: hidden;
    opacity: 0;
    transition: opacity .30s;
}
.link__categoria--index{
    text-decoration: none;
    color: #1c1e22;
}
.img__container--cat{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img__titulo--cat{
    position: absolute;
    text-align: center;
    background: #f1f1f1;
    padding: 10px;
    width: 80%;
    font-size: 1.5rem;
}
.img__categoria{
    width: 100%;
}
.info__categoria{
    text-align: center;
    font-size: 1rem;
    color: #fff;
    transform: translateY(50px);
    transition: transform .30s;
}
.img__container--cat:hover > .info__categoria{
    transform: translateY(0);
}

.img__container--cat:hover > .info__categoria{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
@media (max-width:1265px){
    .barra__horizontal--cat{
        display: none;
    }
}

/*Products content*/
.section__title{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    color: #181b1f;
    text-align: center;
    margin: 25px 0 25px 0;
    
}
.container__sections{
    max-width: 1800px !important;
    width: 90%;
    background: #fffefe;
    margin: auto;
    padding: 20px;
}
.parraf__section__title{
    font-size: .9rem;
    color: rgba(0, 0, 0, .75);
}
.product__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.product__item{
    max-width: 270px;
    border-top: 1px solid #c2c2c27e;
    border-left: .5px solid rgba(0, 0, 0, 0.040);
    border-right: .5px solid rgba(0, 0, 0, 0.040);
    padding: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
    margin: 10px;
    margin-top: 10px;
    transition: .4s;
    position: relative;
}
.img__product{
    width: 100%;
}
.product__title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}
.product__description{
    font-size: .9rem;
}
.product__price{
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 50px;
}
.product__options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 10px;
    
}
.ref__details{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f04948;
    text-decoration: none;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
.product__options{
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.product__item:hover > .product__options{
    visibility: visible;
    opacity: 1;
}
.product__item:hover{
    border-top: 1px hidden #c2c2c27e;
    box-shadow: 1px 0 20px 0 rgba(0, 0, 0, .1);
    
}
/*Hero*/
.hero_section{
    overflow: hidden;
}
.hero__img{
    width: 100%;
    height: 700px;
    background-image: url('../img/hero-img.jpg');
    position: relative;
    background-attachment: fixed;
    background-size: cover !important;
}
.capa1__hero{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
}
.triangulo__hero1, .triangulo__hero2{
    position: absolute;
}
.triangulo__hero1{
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
    bottom: 0;
    left: 0;
}
.triangulo__hero2{
    border-width: 0 0 33vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
/*seccion de suscribirse*/
.noticas__section{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container__noticias{
    border: 1px solid rgba(0, 0, 0, 0.080);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
.titulo__noticias{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}
.parrafo__noticias{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.noticias__input--contenedor{
    display: flex;  
}
.inpt__noticias{
    width: 80%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);;
    border-radius: 0;
}
.btn__noticias{
    font-family: 'Nunito', sans-serif;
    height: 40px;
    width: 120px;
    background-color: #df293c;
    border-radius: 0;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: .9rem;
}
/*seccion de marcas*/
.marcas__section{
    width: 100%;
    padding: 0 50px 0 50px;
}
.container__marcas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px 0 80px 0;
}
.img__marca--index{
    width: 120px;
    margin: auto;
}
/*Detalles del producto*/
.detail__section{
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0 80px 0;
    width: 100%;
}
.detail__tittle{
    display: flex;
    justify-content: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: .19rem;
    color: #414141;
    margin: 30px;
    font-size: 1.2rem;
}
.detail__preview{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__detail{
    max-width: 550px;
    width: 60%;
    object-fit: cover;
}
.purchase__detail{
    display: block;
    font-family: 'Open Sans', sans-serif;
    border-left: 1px solid rgba(0, 0, 0, 0.103);
    padding-left: 50px;
}
.container__detail--precio{
    display: flex;
    justify-content: flex-start;
    height: 40px;
}
.product__price--detail{
    font-size: 1.05rem;
    color: #171a1df3;
    margin: 0;
    display: flex;
    align-items: center;
}
.product__iva--detail{
    font-size: .75rem;
    font-weight: bold;
    color: #34394059;
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.tittle__quant
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}
.stock__detail{
    text-align: center;
    font-size: .8rem;
    color: #34394059;
    display: flex;
    justify-content: flex-start;
    height: 30px;
}
.stock__text{
    font-weight: bold;
    max-width: 120px;
    
    border-radius: 4px;
    margin: 0;
}
.group__buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add__quant
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: #40464ebd;
    background: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: .6rem;
    border: 1px solid #5057612d;
}

.quant__inpt
{
    border-top: 1px solid #5057612d;
    border-bottom: 1px solid #5057612d;
    border-left: none;
    border-right: none;
    outline: none;
    height: 30px;
    width: 35px;
    text-align: center;
}
.sub__quant
{
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    background: #343940;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: .6rem;
}
.btn__section__cart{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}
.add__cart{
    border: none;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05rem;
    background: #df293bf6;
    color: #fff;
    transition: .3s;
    margin-top: calc(100% - 150px);
}
.add__cart:hover{
    background: #333;
}
.description__title{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
.description__title > h2{
    position: relative;
    left: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(43, 43, 43);
    font-size: 1.2rem;
    font-weight: lighter;
}
.description__content{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'open-sans', sans-serif;
    width: 95%;
    margin: 30px 0 30px 0;
}
/*Formulario login*/
.main__login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor__formulario{
    width: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    
}
.login__tittle{
    margin-bottom: 40px;
    
    font-size: 1.7rem;
}
.input-default-form{
    width: 95%;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
}
.btn__send{
    width: 115px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #343940;
    color: #fff;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}
.btn__send:hover{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .3);
    background: #FF9800;
}
.error__item{
    max-width: 240px;
    color: #Df3f3e;
    background: rgba(223, 61, 55, .15);
    border-radius: 5px;
    border:1px solid #Df3f3e;
    padding: 5px;
    font-size: .9rem;
}
.warning__item{
    max-width: 240px;
    color: #F6BA00;
    background: rgba(246, 223, 0, .2);
    border-radius: 5px;
    border:1px solid #F6BA00;
    padding: 5px;
    font-size: .9rem;
}
/*seccion de la orden*/
.order__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.order__container{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.cart__container{
    
    border: 1px solid rgba(0, 0, 0, 0.09);
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);*/
    margin: 5px;
}
.summatory__container{
    max-height: 235px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);*/
    margin: 5px;
}
.title-section{
    font-family: 'poppins', sans-serif;
    color: #343940;
    letter-spacing: .1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: .75rem;
    padding-left: 20px;
}
.cart__row{
    display: flex;
    font-family: 'poppins', sans-serif;
    letter-spacing: .1rem;
    font-size: .75rem;
    font-weight: bold;
    color: #414141;
    margin: 10px 0 10px 0;
}
.no__products__cart h3{
    margin-left: 100px;
    font-family: 'poppins', sans-serif;
    color: #4141413a;
}
.cart__name
{
    max-width: 80px;
}
.cart-item{
    margin: auto;
}
.img__cart{
    width: 120px;
}
.btn__cart{
    padding: 5px;
    margin-top: auto;
}
.btn__continue{
    background: none;
    border: 1px solid #25292e81;
    padding: 7px;
}
.cart__action{
    color: #40464e;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s;
}
.link__checkout{
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: .7rem;  
    padding: 5px;
    letter-spacing: .06rem;
}
.link__continue{
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: #414141;
    font-weight: bold;
    font-size: .7rem;  
    padding: 5px;
    letter-spacing: .06rem;
}
.summatory__content{
    font-family: 'poppins', sans-serif;
    letter-spacing: .08rem;
    font-size: .7rem;
    font-weight: bold;
    color: #414141;
}
.summ__articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
}
.summ__total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.btn__summ{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btn__pay{
    width: 130px;
    height: 35px;
    outline: none;
    border: none;
    background: #343940;
    color: #fff;
    font-size: .7rem;
    letter-spacing: .06rem;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;
}
.btn__pay:hover{
    background: #FF9800;
}
.benefi__section--order{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
    flex-wrap: wrap;
    font-family: 'poppins', sans-serif;
    background: #f048482c;
    color: #25292e;
}
.title__benefi--order{
    font-size: 1.1rem;
}
.parraf__benefi--order{
    font-size: .9rem;
}
.item__benefi--order{
    display: flex;
    max-width: 300px;
    margin: 0 40px  0 40px;
    align-items: center;
}
.icon__benifi{
    font-size: 3rem;
    margin-right: 20px;
}
/*inicio del pago*/
.section__left{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-size: .9rem;
}
.section__right{
    padding: 30px;
    font-family: 'poppins', sans-serif;
    font-size: .9rem;
}
.content__cupon{
    border: 1px solid #25292e1a;
    padding: 15px;
    height: 180px;
}
.parrafo__cupon, .acciones__cupon{
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
    font-size: .8rem;
}
.inpt__cupon{
    height: 33px;
    border: 1px solid #25292e1a;
    outline: none;
    border-radius: 3px 0 0 3px;
    background: #fffefe;
}
.inpt__cupon:focus{
    border: 1px solid #f8a342d5;
}
.btn__cupon{
    height: 33px;
    border-radius: 0 3px 3px 0;
    border: none;
    background: #f04848fa;
    font-family: 'poppins', sans-serif;
    font-size: .7rem;
    letter-spacing: .1rem;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}
.btn__cupon:hover{
    background: #f3962c;
}
.container__form{
    padding: 15px;
    border: 1px solid #25292e1a;
    border-radius: 3px;
    max-width: 530px !important; 
}
.container__cupon, .container__order, .container__billing{
    max-width: 530px !important;
}
.container__billing{
    position: relative;
    bottom: 115px;
}
.tittle-container-checkout{
    font-size: 1rem;
    color: #25292e;
}
.names__form{
    display: flex;
    flex-wrap: wrap;
}
.address2__form{
    display: flex;
    flex-wrap: wrap;
}
.inpt__formulario{
    height: 33px;
    margin: 10px 0 10px 0;
    border: 1px solid #25292e1a;
    outline: none;
    border-radius: 3px;
    background: #fffefe;
    transition: .2s;
}
.valid-input{
    border: 1px solid #3ecc51b2 !important;
}
.non-valid-input{
    border: 1px solid #f84242d5;
}
.inpt--50{
    
    width: 90%;
}
.inpt--100{
    
    width: 90%;
}
.ta__comm{
    resize: none;
    outline: none;
    border: 1px solid #25292e1a;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    font-family: 'poppins', sans-serif;
}
.pay__section{
    max-width: 530px !important;
    border: 1px solid #25292e1a;
    border-radius: 3px;
    display: block;
    padding: 50px; 
}

.object__section, .total__section{
    display: flex;
    justify-content: center; 
    padding: none;
}
.order__row{
    min-height: 30px;
    display: flex;
    border-bottom: 1px solid #25292e1e;;
}
.pay__row{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #25292e1a;
    padding: 10px;
    margin-top: 20px;
}
.pay__row:hover {
    background: #4b535e07;
}
.btn-pay-order{
    text-decoration: none;
    color: #40464ec4;
}
.placeOrder__row{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: .15s;
}
.btn__PlaceOrder{
    width: 100%;
    height: 100%;
    background: #f04848;
    border: none;
    color: #fff;
    letter-spacing: .1rem;
    cursor: pointer;
}

.placeOrder__row:hover{
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .15);
}
.body__checkout{
    font-family: 'Poppins', sans-serif;
}
/*seccion productos*/
.product__section--general{
    margin-top: 50px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.seccion__lista__filtro{
    font-family: 'Nunito', sans-serif;
    margin-bottom: auto;
    margin-top: inherit;
}
.lista__titulo--filtro{
    font-size: 1.1rem;
}
.lista__contenido--filtro{
    list-style: none;
    color: #485563;
}
.form__opciones__filtro{
    font-family: 'Nunito', sans-serif;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.select-filtro{
    outline: none;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.075);
}
.item-form-ordenar{
    margin: 20px 10px 20px 10px;
}
.item__lista--filtro{
    padding: 4px;
}
.container__btn__filtro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link__filtrar--productos{
    text-decoration: none;
    width: 100%;
    background-color: #df293c;
    color: #fff;
    padding: 7px 20px 7px 20px;
    border-radius: 4px;
}
.pagination{
    display: flex;
}
.seccion__paginacion{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-paginacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    font-size: .8rem;
}
.item-paginacion:hover, .first__pagination:hover, .last__pagination:hover{
    border: 1px hidden;
    background: #ee3648;
    color: #fff;
}

.first__pagination, .last__pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 2.5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 5px;
    border-radius: 30px;
    font-size: .8rem;
}
.icon-last, .icon-first{
    margin: 5px
}
@media (max-width:720px){
    .pagination{
        padding: 0;
    }
    .item-paginacion{
        margin: 1px;
    }
    .last__pagination{
        margin: 1px;
        width: 3.3rem;
        padding: 0 0 0 5px;
    }
    .first__pagination{
        margin: 1px;
        width: 3.3rem;
        padding: 0 5px 0 0;
    }
    .seccion__lista__filtro{
        margin-top: 0;
    }
}
@media (max-width:540px){
    .container__btn__filtro{
        align-items: flex-end;
    }
}
/*Responsividad*/

@media(min-width:720px){
    .container--flex{
        display: flex;
        flex-wrap: wrap;
    }
    .menu__link:hover{
        color: #FF9800;
    }
    .column--25{
        width: 25%;
    }
    .column--33{
        width: 33%;
    }   
    .column--50{
        width: 47%;
    }
    .column--55{
        width: 55%;
    }
    .column--66{
        width: 66%;
    }
    .column--75{
        width: 74%;
    }
    
}

@media(max-width:720px){
    .banner{
        height: calc(100vh - 229px);
    }
    .container__sections{
        width: 100%;
    }
    .container-adapt{
        width: 100%;
    }
    .container--flex{
        display: flex;
        flex-wrap: wrap;
    }
    .purchase__detail{
        width: 100%;
        margin-top: 30px;
        border-top: 1px hidden rgba(0, 0, 0, 0.103);
        border-left: none;
    }
    .cart__row{
        letter-spacing: 0;
        font-size: .75rem;
    }
    .add__quant
    {
        height: 20px;
        width: 20px;
        font-size: .5rem;
    }

    .quant__inpt
    {
        height: 20px;
        width: 25px;
        padding: 0;
        margin: 0;
    }
    .sub__quant
    {
        height: 20px;
        width: 20px;
        font-size: .5rem;
    }
    .img__cart {
        width: 60px;
    }
    .content__footer{
        width: 100% !important;
    }
}
@media (max-width:900px){
    .section__left{
        width: 100% !important;
    }
    .containerW900{
        width: 100%;
    }
    .section__right{
        width: 100% !important;
    }
    .container__billing{
        position: relative;
        bottom: 0;
    }
}


